
body {
	margin: 10px 20px 10px 20px;
	background: #bbb;
}
div#main {
	background: white; 
	border: 2px #999 solid;
	padding: 10px;
}

body.popup {
	margin: 5px 10px 5px 10px;
	background: #bbb;
}

div.title {font-size: 120%;}

tr.rowt {
	background-color: #eee;
	font-size: 60%;
}

tr.row0 {
	background-color: #ddddff;
/*	font-size: 80%; */
}
tr.row1 {
	background-color: #ffffff;
/*	font-size: 80%; */
}
td { padding: 1pt 2pt 1pt 2pt; }
td.size {
	text-align: right;
}

div#toolbar { 
	font-size: 80%;
	background: #eee;
	margin: 0px;
	padding: 2px;
	border: 2px solid #aaa;
	border-bottom: 0px solid #aaa;
}

div.title {
	font-size: 150%;
	border-top: 1px solid #55e;
	border-left: 5px solid #55e; 
	margin: 2px 2px 2px 2px;
	padding: 2px 10px 2px 10px;
}

.section div.title {
	font-size: 110%;
	border-top: 1px solid #55e;
	border-left: 5px solid #55e;
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 10px;
}


